.navbar {
    /* color: #55b8a2; */
    background-color: #c7c71f;
}

/* .h1 {
    color: #55b8a2;
} */

.navbar-brand {
    color: black;
}

#navbarText .navbar-nav .nav-item {
    color: black;
}

/* #navbarText .navbar-nav .nav-link {
    color: black;
} */

/* #main_section {
    background-color: #c7c71f;
}

h2 {
    color: blueviolet;
} */